html,body{
  font-family:sans-serif;
  background-color:#000000;
  text-align: center;
}

/*--鼠标悬浮图片出现文字--*/
/*--
.imggroup{
  position:relative;
  display: inline-block;
}

.imgtips{
  position: absolute;
  background: #333;
  color: #fff;
  bottom: 0;
  opacity: 0.6;
  display: none;
}

.imggroup:hover .imgtips{
  display:block;
  width: 100%;
  text-align:center;
}
--*/
/*--背景图片文字--*/


/*--底部--*/
footer{
  background-color: #3f3f3f;
  color:#d5d5d5;
  padding-top: 2rem;
}

.light{
  border-top: 1px solid #d5d5d5;
  width:75%;
}
